.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  background-color: var(--main);
  height: 8vh;
  border-radius: 2rem 2rem 0 0;
}

.fa-house {
  color: white;
}

.fa-user {
  color: white;
}

.fa-cart-shopping {
  color: white;
}

.active {
  color: black;
}

@media only screen and (min-width: 600px) and (max-width: 1279px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    background-color: var(--main);
    height: 8vh;
    border-radius: 2rem 2rem 0 0;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 2560px) {
}
